body {
  background: url(../img/popobg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333; }

.well {
  background-color: rgba(222, 243, 247, 0.75);
  border-color: rgba(222, 243, 247, 0.75);
  margin-top: 50px;
  text-align: center; }
  .well h3 {
    margin-top: 0; }
  .well h4 {
    text-align: left;
    margin-left: 40px; }

.btn-primary {
  background-color: #4c3957;
  border-color: #4c3957; }
  .btn-primary:hover {
    background-color: #795b8a;
    border-color: #795b8a; }
  .btn-primary.active {
    background-color: #bbb;
    border-color: #bbb;
    color: #C05430; }

.cities {
  margin-bottom: 15px; }
